// Place all the styles related to the facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 30px;
	color: #2DA4C4;
	padding: 10px;
	text-align: center;
}

body {
	background: url('/assets/confectionary.png');
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 20px;
	padding: 10px;
}