<!DOCTYPE html>
<html>
<head>
  <title>Trivster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Welcome to Trivster</h1>

	<p>The longest novel ever written is <i>Artamene</i> by Georges de Scudery and Madeleine de Scudery.</p>
<%= yield %>

</body>
</html>
